@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
   
}
body{
    /* background:yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}
html{
    font-size: 100%;
    /* height: 100%; */
}
.box{
    width: 25vw;
    height: 60vh;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 30px  rgba(0,0,0,0.5);
    background:#f73d4b;
    position: relative;
    overflow: hidden;
    transform: translate3d(0 ,0 ,0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* min-width: 20rem;
    min-height: 35rem; */
}
/* .wave{
    opacity: 0.3;
    position: absolute;
    top: 120%;
    left: 50%;
    background: white;
    width: 50rem;
    height: 50rem;
    margin-left: -25rem;
    margin-top: -20rem;
    transform: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    z-index: 1;
}
.wave-three{
    animation: drift 5000ms infinite linear;
    z-index: 2 !important;
    opacity: 0.2;
}
.wave-two{
    animation: drift 7000ms infinite linear;
    opacity: 0.1;
    z-index: 3 !important;
} */
.inputField{
    outline: none;
    border: none;
    border-radius: 4rem;
    line-height: 2rem;
    position: relative;
    margin-bottom: 2rem;
    padding: 0px 30px;
    font-size: 1rem;
    width: 20vw;
    box-shadow: 0 0.2rem 3rem rgba(0,0,0,0.2);
    transition: 0.5s;
}
.info{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.info .location{
    position: relative;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.info .location .fa{
   font-size:3rem;
   margin-right: 0.5rem;
   animation: animate 3s linear infinite;
}
@keyframes animate{
    0%{
        transform: translateX(0.5rem);
    }
    50%{
        transform: translateX(-0.5rem);
    }
    100%{
        transform: translateX(0.5rem);
    }
}
.tempmin_max{
    font-size: 1rem;
    opacity: 0.9;
    font-family: 'Poppins' , sans-serif;
    font-weight: 300;
}
.temp{
    font-size: 3rem;
}
@media(max-width : 1123px){
    html{
        font-size: 90%;
    }
    .box{
        width: 25vw;
        height: 65vh;
    }
}
@media(max-width : 939px){
    html{
        font-size: 80%;
    }
    .box{
        width: 30vw;
        height: 70vh;
    }
}
@media(max-width : 829px){
    html{
        font-size: 80%;
    }
    .box{
        width: 35vw;
        height: 70vh;
    }
    .inputField{
        width: 25vw;
    }
}
@media(max-width : 679px){
    html{
        font-size: 80%;
    }
    .box{
        width: 40vw;
        height: 70vh;
    }
    .inputField{
        width: 25vw;
    }
}
@media(max-width : 557px){
    html{
        font-size: 80%;
    }
    .box{
        width: 50vw;
        height: 70vh;
    }
    .inputField{
        width: 35vw;
    }
}
@media(max-width : 449px){
    html{
        font-size: 80%;
    }
    .box{
        width: 60vw;
        height: 70vh;
    }
    .inputField{
        width: 45vw;
    }
}
@media(max-width : 367px){
    html{
        font-size: 80%;
    }
    .box{
        width: 75vw;
        height: 70vh;
    }
    .inputField{
        width: 55vw;
    }
}
p{
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin-top: 5rem;
    font-weight: 600;
}